#parentLogin{
    /* border: 1px solid teal; */
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}
#parentSignUp{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}
#childlogin{
    /* border: 1px solid red; */
    width: 100%;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
}

#container{
    /* border: 3px solid black; */
    display: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 10px;
    padding: 30px;
}
input[type="text"],input[type="password"]{
 width: 100%;
 margin-bottom :100px;
 padding: 6px;
 border: 0;
 border: none;
 border-bottom: 3px solid #ff6f61;
 font-size: 18px;
 box-sizing: border-box;
 font-family: 'Zilla Slab', serif;
}
input[type="text"]:focus,input[type="password"]:focus{
outline: none;
}
input[type="submit"]{
 width: 100%;
border-radius:3px ;
padding: 10px 60px;
cursor: pointer;
background-color: #ff6f61 ;

box-sizing: border-box;
color: white;
font-size: 15px;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto Mono', monospace;
font-weight: bolder;
border:0 ;
margin-bottom: -40px;
}
form{
 padding: 50px;

}
#LoginLinks>div{
display: flex;
flex-direction: column;
text-align: center;
justify-content: center;
}
#LoginLinks>div p:nth-child(1){
margin-top: -25px;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Ubuntu', sans-serif;
} 
#LoginLinks>div p:nth-child(2){
font-family: 'Raleway', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Ubuntu', sans-serif;
 margin-top: -8px;
}
#LoginLinks>div p:nth-child(3){
 
 width: 300px;
 cursor: pointer;
 margin: auto;
 color: #9e9e9e;
 font-family: 'Ubuntu', sans-serif;
 margin-top: -7px;
 padding: 5px;
}
#loginimg{
  /* border: 1px solid blue; */
  margin: auto;
 margin-right: 50px;
 padding: 50px;
}
#loginimg>img{
    width: 70%;
margin-left: 50px;
}
#loginImgtext{
width: 240px;
text-align: center;
font-size:12px ;
color: #747373;
}
#queries{
text-align: center;
width: 200px;
margin-left: 14px;
color:#636363 ;  
}
#loginLogo>h2{
 font-weight: bold;
 font-family: 'Raleway', sans-serif;
   font-family: 'Roboto Mono', monospace;
}
#closepopUp>button{
 border: 0px;
 cursor: pointer;
 padding: 0px;
}
#closepopUp{   
display: flex;
justify-content: flex-end;
margin-top: -14px;
margin-right: -9px;
font-family: 'Roboto Condensed', sans-serif;
}
#loginText{
 margin-top: -10px;
 width: 390px;
 font-size:small;
}
#loginLogo{
margin-left: 50px;
}
.form-label {
	position:absolute;	
    top: 235px;
    left: 645px;
    cursor:text;
	cursor: pointer;
	transition: all .15s ease-in-out 0s;
}
.LoginPassform-label{
    position:absolute;	
    top: 370px;
    left: 645px;
    cursor:text;
	cursor: pointer;
	transition: all .15s ease-in-out 0s;
}
.LoginPass-textbox:focus ~ .LoginPassform-label,
.Loginform-textbox:valid ~ .LoginPassform-label{
	top:340px;
	font-size: .9em;
	cursor: pointer;
}
label {
    color: #808080;
    font-family: 'Zilla Slab', serif;
    font-size: 18px;
}
.form-textbox:focus ~ .form-label,
.form-textbox:valid ~ .form-label {
	top:205px;
	font-size: .9em;
	cursor: pointer;
}
.btndeco{
    text-decoration: underline;
    border: 0;
    background-color: transparent;
    color: #ff6f61;
    font-size: 18px;
    cursor: pointer;
}